.back-to-top-fade-enter-active, 
.back-to-top-fade-leave-active {
  transition: opacity .7s;
}
.back-to-top-fade-enter, 
.back-to-top-fade-leave-to {
  opacity: 0;
}

.vue-back-to-top {
  cursor:pointer;
  position: fixed;
  z-index: 1000;
}

.vue-back-to-top .default {
  background-color: #f5c85c;
  border-radius: 3px;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 160px;
}

.vue-back-to-top .default span{
  color:#ffffff;
}

.vue-back-to-top--is-footer {
  bottom: 50% !important;
  position: absolute;
  transform: translateY(50%);
}